[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pymongo = "*"
dnspython = "*"

[dev-packages]
neovim = "*"
jedi = "*"

[requires]
python_version = "3.9"
