@import 'variables';

@import 'create';

body {
  font-family: 'DotGothic16', sans-serif;
}

h1 {
  color: $primary;
}

.leaflet-container {
  min-width: 250px;
  min-height: 350px;
  max-height: 550px;
  width: 33vw;
  height: 25vh;
}
